<h3>Create New Account</h3>
<form role="form">
    <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" class="form-control" id="first_name" name="first_name" ng-model="account.first_name" ng-pattern="name_regex">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" id="last_name" name="last_name" ng-model="account.last_name" ng-pattern="name_regex">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email" ng-model="account.email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="account.password">
    </div>
    <button type="submit" class="btn btn-default" ng-click="create_user()">Submit</button>
</form>

<br>
<p style="color:red; visibility:hidden;" id="create_error">{{error}}</p>